*.log
.DS_Store
.env
/temp
/.osp
/.claude
/.ai
/boost.json
/mailpit.exe
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/docs
/public/build
/public/sitemap*.xml
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
